.product {
  &-type {
    &-card {
      @apply shadow-base px-2 md:px-5 rounded-lg border border-transparent dark:border-gray-900 hover:border-primary dark:hover:border-primary transition duration-300 cursor-pointer;
      height: 60px;

      &-wrap {
        max-width: 50%;
        flex: 0 0 50%;

        @screen sm {
          max-width: 33.33%;
          flex: 0 0 33.33%;
        }

        @screen md {
          max-width: 25%;
          flex: 0 0 25%;
        }

        @screen lg {
          max-width: 20%;
          flex: 0 0 20%;
        }
      }
    }
  }
  
  &-tag {
    &-card {
      @apply rounded-full shadow-base py-1 px-4 text-sm leading-5 border border-transparent text-gray-800 hover:text-primary hover:border-primary dark:text-gray-700 dark:hover:text-primary dark:border-gray-900  dark:hover:border-primary transition duration-300 cursor-pointer;
    }
  }
}
