@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.tx-truncate, .product-list-card .content .name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tx-truncate-2, .product-list-card .content .name {
  -webkit-line-clamp: 2;
}

.form-input {
  @apply w-full rounded-full border outline-0 h-9 py-2 px-5 text-sm placeholder:text-gray-700 dark:bg-dark dark:text-gray-700;
}

.search-field {
  @apply relative;
}
.search-field .icon {
  @apply absolute left-5 top-1/2 -translate-y-1/2 dark:stroke-gray-700;
}
.search-field .form-input {
  @apply pl-11;
}

.main-loading {
  @apply fixed inset-0 flex items-center justify-center z-50 bg-white dark:bg-black;
}

.navbar {
  @apply fixed w-full z-10;
}
.navbar > .container {
  height: 50px;
}
.navbar + .content {
  padding-top: 50px;
}
@screen md-down {
  .navbar .nav-menu {
    @apply fixed inset-0 w-0 h-full bg-white z-1 overflow-hidden transition-all duration-500 ease-in-out invisible pt-9;
  }
  .navbar .nav-menu.isExpanded {
    @apply w-full overflow-auto visible;
  }
  .navbar .nav-menu.isExpanded-dark {
    @apply bg-black;
  }
  .navbar .nav-menu .hide-menu {
    @apply absolute top-5 right-5;
  }
  .navbar .nav-menu a {
    @apply block w-max mx-auto my-6 text-base;
  }
}
.navbar .nav-item .switch-mode {
  @apply relative mr-6 cursor-pointer;
}
.navbar .nav-item .switch-mode input {
  @apply absolute inset-0 hidden;
}
.navbar .nav-item .switch-toggle {
  @apply w-12 h-4 relative rounded-full;
}
.navbar .nav-item .switch-toggle .dot {
  @apply w-6 h-6 absolute top-1/2 left-0 translate-y-[-50%] shadow-1 rounded-full transition-all duration-300 ease-out flex items-center justify-center;
}
.navbar .nav-item .switch-toggle.isDarkMode .dot {
  @apply left-1/2;
}

.product-type-card {
  @apply shadow-base px-2 md:px-5 rounded-lg border border-transparent dark:border-gray-900 hover:border-primary dark:hover:border-primary transition duration-300 cursor-pointer;
  height: 60px;
}
.product-type-card-wrap {
  max-width: 50%;
  flex: 0 0 50%;
}
@screen sm {
  .product-type-card-wrap {
    max-width: 33.33%;
    flex: 0 0 33.33%;
  }
}
@screen md {
  .product-type-card-wrap {
    max-width: 25%;
    flex: 0 0 25%;
  }
}
@screen lg {
  .product-type-card-wrap {
    max-width: 20%;
    flex: 0 0 20%;
  }
}
.product-tag-card {
  @apply rounded-full shadow-base py-1 px-4 text-sm leading-5 border border-transparent text-gray-800 hover:text-primary hover:border-primary dark:text-gray-700 dark:hover:text-primary dark:border-gray-900  dark:hover:border-primary transition duration-300 cursor-pointer;
}
.product-brand-card {
  @apply h-20 w-20 flex items-center justify-center bg-white text-xs font-medium capitalize rounded-full shadow-round hover:shadow-round-hover transition duration-300 cursor-pointer dark:bg-gray-900 dark:text-gray-700;
}
.product-list-card {
  @apply flex flex-col h-full shadow-base hover:shadow-base-hover rounded-lg cursor-pointer dark:bg-dark transition duration-300;
}
.product-list-card .image-wrap {
  @apply relative;
  padding-top: 75%;
}
.product-list-card .image-wrap img {
  @apply absolute inset-0 w-full h-full object-contain rounded-t-lg;
}
.product-list-card .content {
  @apply flex flex-col h-full dark:text-gray-700;
}
.product-list-card .content .name {
  @apply transition duration-300;
}
.product-list-card-wrap {
  max-width: 50%;
  flex: 0 0 50%;
}
@screen sm {
  .product-list-card-wrap {
    max-width: 33.33%;
    flex: 0 0 33.33%;
  }
}
@screen md {
  .product-list-card-wrap {
    max-width: 25%;
    flex: 0 0 25%;
  }
}
@screen lg {
  .product-list-card-wrap {
    max-width: 20%;
    flex: 0 0 20%;
  }
}
.product-list-card:hover .content .name {
  @apply text-primary dark:text-primary;
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: transform 0.7s, opacity 0.5s;
}

.slide-down-enter,
.slide-down-leave-active {
  transform: translateY(-30px);
  opacity: 0;
}

.v-select.none-outline {
  width: 190px;
}
.v-select.none-outline.center {
  @apply mx-auto;
}
.v-select.none-outline .vs__dropdown-toggle {
  @apply border-0 border-b border-gray-800 p-0 rounded-none px-2;
}
.v-select.none-outline .vs__dropdown-toggle .vs__selected-options {
  @apply p-0 overflow-hidden;
  max-height: 22px;
}
.v-select.none-outline .vs__dropdown-toggle .vs__selected {
  @apply m-0 p-0 text-sm dark:text-gray-700 truncate block;
}
.v-select.none-outline .vs__dropdown-toggle .vs__search {
  @apply m-0 p-0 border-0 h-0;
}
.v-select.none-outline .vs__dropdown-toggle .vs__actions {
  @apply m-0 p-0;
}
.v-select.none-outline .vs__dropdown-toggle .vs__actions .vs__clear {
  @apply mr-1;
  transform: scale(0.8);
}
.v-select.none-outline .vs__dropdown-toggle .vs__actions .vs__clear svg {
  @apply fill-gray-900 dark:fill-gray-700;
}
.v-select.none-outline .vs__dropdown-toggle .vs__open-indicator {
  @apply fill-gray-900 dark:fill-gray-700;
  transform: scale(0.7);
}
.v-select.none-outline .vs__dropdown-menu {
  @apply p-0 mt-0 border-transparent border-t border-solid border-t-gray-800 rounded-b-lg shadow-round dark:bg-gray-900 dark:text-gray-700 text-xs;
  max-height: 150px;
}
.v-select.none-outline .vs__dropdown-menu::-webkit-scrollbar {
  @apply w-1;
}
.v-select.none-outline .vs__dropdown-option {
  @apply text-sm dark:text-gray-700;
}
.v-select.none-outline .vs__dropdown-option--highlight {
  @apply bg-primary dark:text-white;
}
.v-select.none-outline.vs--open .vs__actions .vs__open-indicator {
  transform: rotate(180deg) scale(0.7);
}
.v-select.none-outline.vs--open .vs__selected {
  @apply inset-0;
}
.v-select.none-outline.vs--open .vs__search {
  @apply dark:text-gray-700 h-auto;
}
.v-select.isAll .vs__actions .vs__clear {
  display: none;
}

*::-webkit-scrollbar-track {
  @apply bg-gray-600 rounded-full;
}
*::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}

body {
  @apply text-gray-900;
  font-family: theme("fontFamily.default");
}
body::-webkit-scrollbar {
  @apply w-3;
}

p {
  @apply mb-0;
}

.wrapper {
  @apply flex flex-col min-h-screen;
}

.main-layout {
  @apply container pt-6 pb-32;
}

.footer .btn-back-to-top svg {
  @apply transition duration-300;
}
.footer .btn-back-to-top:hover svg {
  transform: translateY(-2px);
}